


/* big tablets to small computers 1023px-1210*/
@media only screen and (max-width: 1210) {
  .pinkglove-text-box {
    width: 100% ;
    padding: 0 2%;
  }
}

/* small tablet to big tablet 767px-1023*/
@media only screen and (max-width: 1024px) {
  .pinkglove-text-box {
    width: 82% ;
    padding: 0 2%;
  }
  .main-nav {
    float: none;
    padding-left: 2%;
  }
  .main-nav li {
    margin-left: 15px;
  }
.section-about-us {
    width: 95%;
    text-align: center;
    margin: 0px 2.5px 0px 2.5px;
  }
}



/* small to small tablets 480px-767px*/
@media only screen and (max-width: 766px) {
.pinkglove-text-box {
    width: 91%;
    padding: 0 2%;
    text-align: center;
  }
}

/* small phones 0-480px*/
@media only screen and (max-width: 360px) {
.pinkglove-text-box {
    width: 95%;
    padding: 0 2%;
  }
}
